<c-card class="mb-4">
<c-card-header ngPreserveWhitespaces>
    <strong>Yazı Filtresi</strong>
  </c-card-header>
  <c-card-body> 
    <form [formGroup]="cardForm" cForm>
        <div class="mb-3">
          <label cLabel for="exampleFormControlInput1">Yazar Adı</label>
          <ng-select formControlName="authorId">
            <ng-option *ngFor="let d of data" [value]="d.id">{{d.fullName}}</ng-option>
          </ng-select>
        </div>
        <div class="mb-3">
          <label cLabel for="exampleFormControlTextarea1">Başlangıç Tarihi</label>
          <input cFormControl
                 id="exampleFormControlTextarea1"
                 placeholder="01-02-2023"
                 type="date"
                 formControlName="dateRangeStart"
          />
        </div>
        <div class="mb-3">
            <label cLabel for="exampleFormControlTextarea2">Bitiş Tarihi</label>
            <input cFormControl
                   id="exampleFormControlTextarea2"
                   placeholder="02-02-2023"
                   type="date"
                   formControlName="dateRangeEnd"
            />
        </div>
        <button cButton (click)="onSubmit()" class="mt-3" color="primary">
            Yazıları Getir
        </button>
    </form>
  </c-card-body>
</c-card>

<c-card *ngIf="getNews.length > 0">
  <c-card-body>
    <table cTable>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">İçerik ({{newsResponse.total}} yazı listelendi.)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let getN of getNews; index as i">
        <th scope="row">{{i+1}}</th>
        <td><a target="_blank" href="https://gdh.digital/haber-{{getN.id}}">{{getN.message}}</a></td>
      </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>